<div *ngIf="details==0">
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">HOME</span>
          </div>
         
  
          <div class="d-flex align-items-center h-custom-7 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n4">
  
            <form style="width: 22rem;">  
  
              
              <div class="pt-4 mb-2">
                <button class="btn btn-info btn-lg btn-block" type="button" (click)="add(1)" >Add Data</button>
              </div>

              <div class="pt-1 mb-2">
                <button class="btn btn-info btn-lg btn-block" type="button" (click)="add(2)">Show Data</button>
              </div>
  
              <div class="pt-1 mb-2">
                <button class="btn btn-info btn-lg btn-block" type="button" (click)="add(3)">About</button>
              </div>

              
              
            </form>
  
          </div>
  

          <div></div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
</div>
  
<div *ngIf="details==1">
  <app-adddata></app-adddata>
</div>

<div *ngIf="details==2">
  <app-show-data></app-show-data>

</div>
<div *ngIf="details==3">

  <app-about></app-about>
</div>