<div *ngIf="show==0">
  <!--  <h1>hello hi</h1>
<h2>login</h2>
<textarea  >sgdsgd</textarea><br>
<textarea ></textarea><br>
<button>login</button><br>
<h3>new create account</h3>
<button>create</button>
 -->

<div  *ngIf="whatshow==0"  >
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Saishree Consultancy & solution  </h4>
                  </div>
  
                  
                    <p>Please login to your account</p>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Enter email address" [(ngModel)]="this.username"/>
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" 
                      placeholder="Enter password"  [(ngModel)]="this.pass"/>
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button  class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="login()">Log
                        in</button>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button (click)="newlogin(1)"  class="btn btn-outline-danger" routerLink="register">Create new</button>
                    </div>
  
                  
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Taxation & Accounting Firm </h4>
                  <p class="small mb-0">        Accounting consulting jobs may involve: Helping your business clients
                    maintain efficient and accurate accounting practices. Providing your expertise 
                   to help clients understand the meaning behind their financial data and how
                    those numbers affect their business. Examining your clients' profitability.
                   </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
     </div>
  </section>
</div>

  <router-outlet></router-outlet>
</div>

  <div *ngIf="show==1">
 
    <app-home-page></app-home-page>
    </div>


  