
<h1>About Finsmart Accounting</h1>


<h3>
    
Finsmart Accounting is a one-stop solution for all accounting, 
taxation, and payroll needs for growing business enterprises.
 Our customer-centric service models, domain expertise, and use of 
 the latest tools & technology have truly helped us to establish
  ourselves as ‘Trusted FinOps Partner’.

Finsmart Accounting was started in 2007 by Shalaka Joshi. 
A Chartered Accountant by profession, she figured out this opportunity 
very early when Outsourcing in Accounting & Finance had just started.
 This early entry in Accounting outsourcing and having an absolute focus
  on building the right systems and processes to help growing entrepreneurs 
  in Accounting and Finance paved the way for the success of Finsmart Accounting. 
  We are proud to share that Finsmart’s team of offshore accountants has served over 
  300 clients consisting of global enterprises, CPA firms, MNCs, and Indian 
  companies across 7 countries and helping growing organizations to efficiently manage
   their accounting and compliances.

Working from Mumbai, Pune, and New York, our experienced team of 60+ full-time offshore
 accountants, chartered accountants, financial advisors, and company secretary have right
  set of expertise in accounting and new age technologies. We also have a practice of
   continuing education and inhouse training to keep everyone in the team updated about 
   changing Tax Laws, Accounting Standards and newer technologies that helps us to enhance 
   accuracy, efficiency and giving right advice to our clients.
</h3>